In [5]:
import psycopg2
from credentials import databaseKeys

In [8]:
connection = psycopg2.connect(
    host = 'db-cc.co4twflu4ebv.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = databaseKeys.username,
    password = databaseKeys.password,
    database='lion_leftovers'
    )
cursor=connection.cursor()

In [6]:
#create inventory table 

cursor.execute("""
CREATE TABLE Inventory(
    InventoryID SERIAL PRIMARY KEY,
    DiningHallID VARCHAR(255),
    FoodItem VARCHAR(255),
    Quantity INT,
    Price DECIMAL,
    ExpirationTime TIMESTAMP,
    LastUpdated TIMESTAMP
)""")

In [ ]:
#create order table
cursor.execute("""
CREATE TABLE Orders(
    OrderID SERIAL PRIMARY KEY,
    StudentUNI VARCHAR(10),
    InventoryID INT,
    OrderQuantity INT,
    TotalPrice DECIMAL,
    OrderTime TIMESTAMP,
    PaymentStatus VARCHAR(50),
    ReceiptNumber VARCHAR(255),
    FOREIGN KEY (InventoryID) REFERENCES Inventory(InventoryID)
)""")

In [8]:
#create reviews table

cursor.execute("""
CREATE TABLE Reviews(
    ReviewID SERIAL PRIMARY KEY,
    StudentUNI VARCHAR(10),
    OrderID INT,
    Rating INT,
    Comment TEXT,
    ReviewTime TIMESTAMP,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
)""")

In [9]:
connection.commit()

In [34]:
#View the tables and their columns 

import pandas as pd

sql = """
SELECT "table_name","column_name", "data_type", "table_schema"
FROM INFORMATION_SCHEMA.COLUMNS
WHERE "table_schema" = 'public'
ORDER BY table_name  
"""
pd.read_sql(sql, con=connection)

   table_name     column_name                    data_type table_schema
0   inventory        quantity                      integer       public
1   inventory     lastupdated  timestamp without time zone       public
2   inventory        fooditem            character varying       public
3   inventory     inventoryid                      integer       public
4   inventory           price                      numeric       public
5   inventory  expirationtime  timestamp without time zone       public
6   inventory    dininghallid            character varying       public
7      orders   paymentstatus            character varying       public
8      orders       ordertime  timestamp without time zone       public
9      orders   orderquantity                      integer       public
10     orders         orderid                      integer       public
11     orders     inventoryid                      integer       public
12     orders   receiptnumber            character varying       public
13     orders      studentuni            character varying       public
14     orders      totalprice                      numeric       public
15    reviews      reviewtime  timestamp without time zone       public
16    reviews        reviewid                      integer       public
17    reviews         orderid                      integer       public
18    reviews      studentuni            character varying       public
19    reviews         comment                         text       public
20    reviews          rating                      integer       public

In [35]:
with open('inventory.csv', 'r') as row:
    next(row)# Skip the header row.
    cursor.copy_from(row, 'inventory', sep=',')

In [36]:
with open('orders.csv', 'r') as row:
    next(row) 
    cursor.copy_from(row, 'orders', sep=',')

In [37]:
with open('reviews.csv', 'r') as row:
    next(row)
    cursor.copy_from(row, 'reviews', sep=',')

In [38]:
connection.commit()

In [40]:
def query_to_df(sql_query, connection):
    return pd.read_sql_query(sql_query, connection)

# Fetching data from each table
inventory_df = query_to_df("SELECT * FROM Inventory;", connection)
orders_df = query_to_df("SELECT * FROM Orders;", connection)
reviews_df = query_to_df("SELECT * FROM Reviews;", connection)

In [44]:
inventory_df

,inventoryid,dininghallid,fooditem,quantity,price,expirationtime,lastupdated
0,1,Chef Mike's,Italian Sub,5,5.0,2023-11-28,2023-11-23
1,2,Grace Dodge,Chocolate Cake,9,2.0,2023-11-28,2023-11-24
2,3,John Jay,Meatloaf,2,9.0,2023-11-28,2023-11-24
3,4,Faculty House,Lobster Roll,7,6.0,2023-11-29,2023-11-20
4,5,Ferris Booth Commons,Baked Ziti,10,7.0,2023-12-02,2023-11-20
5,6,Faculty House,Lobster Roll,3,4.0,2023-11-28,2023-11-21
6,7,Chef Mike's,Turkey Sub,6,8.0,2023-12-04,2023-11-25
7,8,Grace Dodge,Chocolate Cake,7,6.0,2023-12-02,2023-11-22
8,9,John Jay,Mashed Potatoes,4,9.0,2023-11-30,2023-11-21
9,10,JJ's,Chicken Wings,7,5.0,2023-11-30,2023-11-22
10,11,Chef Mike's,Meatball Sub,3,8.0,2023-12-03,2023-11-22
11,12,Grace Dodge,Fruit Salad,7,4.0,2023-11-30,2023-11-26
12,13,Ferris Booth Commons,Baked Ziti,2,4.0,2023-12-04,2023-11-20
13,14,Chef Don's,Hawaiian Pizza,6,8.0,2023-12-01,2023-11-22
14,15,Chef Mike's,Club Sandwich,7,3.0,2023-11-29,2023-11-20
15,16,Ferris Booth Commons,Tofu Stir Fry,3,5.0,2023-12-01,2023-11-24
16,17,Grace Dodge,Fruit Salad,7,9.0,2023-12-03,2023-11-21
17,18,Chef Mike's,Meatball Sub,4,2.0,2023-12-02,2023-11-26
18,19,JJ's,Hot Dogs,1,6.0,2023-12-03,2023-11-22
19,20,John Jay,Mashed Potatoes,2,6.0,2023-12-04,2023-11-20
20,21,Chef Don's,Veggie Pizza,6,7.0,2023-12-04,2023-11-20
21,22,John Jay,Spaghetti,5,5.0,2023-12-01,2023-11-21
22,23,Ferris Booth Commons,Beef Stew,5,8.0,2023-11-28,2023-11-24
23,24,John Jay,Spaghetti,8,10.0,2023-11-28,2023-11-26
24,25,Ferris Booth Commons,Mac and Cheese,5,9.0,2023-12-04,2023-11-26
25,26,Grace Dodge,Caesar Salad,9,3.0,2023-12-02,2023-11-20
26,27,John Jay,Meatloaf,9,4.0,2023-12-04,2023-11-23
27,28,Grace Dodge,Fruit Salad,5,5.0,2023-12-02,2023-11-25
28,29,JJ's,Burgers,2,3.0,2023-11-30,2023-11-21
29,30,JJ's,Fries,8,2.0,2023-11-28,2023-11-21
30,31,Grace Dodge,Cheesecake,4,3.0,2023-12-01,2023-11-22
31,32,Chef Mike's,Turkey Sub,10,10.0,2023-12-04,2023-11-20
32,33,Faculty House,Risotto,4,7.0,2023-12-04,2023-11-20
33,34,Grace Dodge,Cheesecake,2,4.0,2023-11-28,2023-11-25
34,35,Chef Mike's,Meatball Sub,5,4.0,2023-12-02,2023-11-25
35,36,JJ's,Chicken Wings,2,9.0,2023-11-28,2023-11-25
36,37,Ferris Booth Commons,Beef Stew,2,4.0,2023-11-29,2023-11-22
37,38,John Jay,Spaghetti,7,5.0,2023-11-30,2023-11-22
38,39,Faculty House,Lobster Roll,10,9.0,2023-12-03,2023-11-21
39,40,Chef Mike's,Club Sandwich,8,7.0,2023-12-01,2023-11-22
40,41,Faculty House,Risotto,10,9.0,2023-11-29,2023-11-20
41,42,Chef Mike's,Turkey Sub,9,4.0,2023-11-30,2023-11-25
42,43,Ferris Booth Commons,Mac and Cheese,4,7.0,2023-11-29,2023-11-22
43,44,Faculty House,Salmon,6,4.0,2023-11-29,2023-11-26
44,45,Chef Don's,Hawaiian Pizza,8,2.0,2023-12-03,2023-11-22
45,46,John Jay,Mashed Potatoes,5,6.0,2023-12-04,2023-11-25
46,47,JJ's,Nachos,7,9.0,2023-11-29,2023-11-24
47,48,JJ's,Burgers,9,2.0,2023-12-02,2023-11-24
48,49,Ferris Booth Commons,Tofu Stir Fry,5,7.0,2023-12-04,2023-11-20
49,50,Chef Mike's,Veggie Sub,4,8.0,2023-12-03,2023-11-24